version: 1.0.{build}
image: Visual Studio 2022

environment:
  JAVA_HOME: "C:\\Program Files\\Eclipse Adoptium\\jdk-11.0.22.7-hotspot"
  PATH: "%JAVA_HOME%\\bin;%PATH%"

build_script:
  - cmd: java -version
  - cmd: javac -version
  - cmd: mvn clean install
